.DS_Store
venv/
myvenv_x86_64
wallet_seeds.json
node_seeds.json
.env
.tmp/
*seeds*.json
.vscode
*.pyc
*.sqlite3
*~
*.egg-info/
/docker-compose.yml
/.idea/
/redis/
/db/
venv
.venv/
media/
.backups/
.envrc
__pycache__
mnemonics.txt
inventory
.pytest_cache
*voucher.hex